# 윈도우 사용자
desktop.ini
Thumbs.db

# 맥 사용자
._*
.DS_Store
.Spotlight-V100
.Trashes

# 빈 폴더 올리기
!1장/*
!2장/*
!3장/*
!4장/*
!5장/*
!6장/*
!7장/*
!8장/*
!9장/*
!10장/*
!11장/*
!12장/*
!13장/*
!14장/*
!15장/*
!16장/*
!17장/*
!18장/*
!19장/*
!20장/*
!21장/*
!22장/*
!23장/*
!24장/*
!25장/*
!26장/*
!27장/*
!28장/*
!29장/*
!30장/*
!31장/*
!32장/*
!33장/*
!34장/*
!35장/*
!36장/*
!37장/*
!38장/*
!39장/*
!40장/*
!41장/*
!42장/*
!43장/*
!44장/*
!45장/*
!46장/*
!47장/*
!48장/*
!49장/*
